name: CI

on:
    push:
        branches:
            - master
    pull_request:

jobs:

    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Set up Go
              uses: actions/setup-go@v1
              with:
                  go-version: 1.13
              id: go

            - name: Checkout code
              uses: actions/checkout@v1

            - name: Build
              run: make build
              env:
                  VERBOSE: 1

            - name: Tests
              run: make test
              env:
                  VERBOSE: 1
