name: Release

on:
    push:
        tags:
            - '*'

jobs:

    release:
        name: Release
        runs-on: ubuntu-latest
        steps:
            -   name: Set up Go
                uses: actions/setup-go@v1
                with:
                    go-version: 1.13
                id: go

            -   name: Checkout code
                uses: actions/checkout@v1

            -   name: Release
                run: make release
